@model IEnumerable<Neoxam.Models.Candidate_sheet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Back/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birth_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail_address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail_address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
    </tr>

@foreach (var item in ViewBag.fiches) {
    <tr>
        <td>
            @item.first_name
        </td>
        <td>
            @item.last_name
        </td>
        <td>
            @item.birth_date
        </td>
        <td>
            @item.address
        </td>
        <td>
            @item.mail_address1
        </td>
        <td>
            @item.mail_address2
        </td>
        <td>
            @item.phone_number
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
