@model IEnumerable<Neoxam.Models.Mission>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Back/_MyLayout.cshtml";
}

<h2>Liste des missions</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_date)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_date)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id=item.Id })
                </td>
            </tr>
        }

    }

</table>
