@model IList<Neoxam.Domain.Entities.reclamation>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/Back/_MyLayout.cshtml";
}

<h2>Index2</h2>

  

    @using (Html.BeginForm("ExportToExcel", "Reclamation", FormMethod.Post))
    {

        <br />
        <br />
        <h2>
            Export Data To Excel
        </h2>
        <table style="background-color: white; width: 100%;">
            <tr>
                <th style="border: 1px solid black; text-align: left; width: 20%; padding-left: 20px;">
                    Name
                </th>
                <th style="border: 2px solid black; text-align: center; width: 20%">
                    Email
                </th>
                <th style="border: 2px solid black; text-align: center; width: 20%">
                    Age
                </th>
                <th style="border: 2px solid black; text-align: center; width: 20%">
                    Address
                </th>
                <th style="border: 2px solid black; text-align: center; width: 20%">
                    Department
                </th>
            </tr>
            @foreach (var itm in model)
            {

                <tr>
                    <td style="padding-left: 20px;">
                        @Html.DisplayFor(m => itm.description)
                    </td>
                    <td style="padding-left: 20px;">
                        @Html.DisplayFor(m => itm.id)
                    </td>
                    <td style="padding-left: 20px;">
                        @Html.DisplayFor(m => itm.status)
                    </td>
                    <td style="padding-left: 50px;">
                        @Html.DisplayFor(m => itm.title)
                    </td>

                    <td style="padding-left: 50px;">
                        @Html.DisplayFor(m => itm.path_file)
                    </td>




                    <td style="padding-left: 50px;">
                        @Html.DisplayFor(m => itm.archvable)



                    <td style="padding-left: 50px;">
                        @Html.DisplayFor(m => itm.readableRec)


                    </td>
                    </td>
                    <td style="padding-left: 50px;">
                        @Html.DisplayFor(m => itm.employe_Id)
                    </td>
                </tr>
            }

            <tr>
                <td colspan="4">
                    <br />
                    <br />
                    <input type="submit" value="Export to Excel" class="button" />
                </td>
            </tr>
        </table>
    }
