@model Neoxam.Domain.Entities.reclamation
@{
    ViewBag.Title = "Ajout Reclamation";
    Layout = "~/Views/Shared/Back/_MyLayout.cshtml";
}

<style>
    .cke_inner.cke_reset {
        /* width: 100%; */
    }
</style>
<script src="~/Content/ckeditor/ckeditor.js"></script>


<section class="content">
    <h2>Ajouter une Reclamation</h2>
    <div class="col-md-6">
        @using (Html.BeginForm(new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Formulaire d'ajout</h3>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Sujet du reclamation</label>

                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })



                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contenue du reclamation</label>

                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })










                    </div>


                    <div class="form-group">
                        <label for="exampleInputPassword1">Contenue du reclamation</label>

                        @Html.EnumDropDownListFor(model => model.category, new { htmlAttributes = new { @class = "form-control" } })










                    </div>



                    <div class="form-group">
                        <label for="exampleInputPassword1">Contenue du reclamation</label>

                        @Html.TextBox("file", null, new { type = "file" })




















                    </div>















                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
                </div>

            </div>


        }
    </div>



    </div>
</section>