@model Neoxam.Domain.Entities.department
@{
    ViewBag.Title = "Ajout Departement";
    Layout = "~/Views/Shared/Back/_MyLayout.cshtml";
}

<section class="content">
    <h2>Ajouter un département</h2>
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Formulaire d'ajout</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nom du département</label>

            @Html.EditorFor(model => model.name, new{htmlAttributes = new{ @class = "form-control", required = "required" }})
             @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Ajouter une brief description</label>



                        @Html.EditorFor(model => model.description, new
                     {
                         htmlAttributes = new
                         { @class = "form-control", required = "required" }
                     })
                        @Html.ValidationMessageFor(model => model.description, "", new
                       {
                           @class
                  = "text-danger"
                       })
                    </div>



                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
                </div>

            </div>
          

        }
    </div>

    <div class="col-md-6">

        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Liste des départements</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nom dep</th>
                            <th>Desc</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                        @foreach (var p in ViewBag.res)
                        {
                            <tr>
                                <td>@p.id</td>
                                <td>@p.name</td>
                                <td>@p.description</td>
                                <td>
                                    @Html.ActionLink("modifier", "UpdateDep", new { id = @p.id })



                                </td>
                                <td><a href="/Department/DeleteDep/@p.id">Delete</a></td>

                            </tr>




                        }


                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->


    </div>
</section>